.header {

  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;

  // .header__inner

  &__inner {
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 27px 0;
    color: #FFFFFF;
  }

  // .header__links

  &__links {
  }

  // .header__phone

  &__phone {
    margin-right: 20px;
    white-space: nowrap;
  }

  // .header__callback

  &__callback {
    text-decoration: underline;
    white-space: nowrap;
  }

  & a {
    opacity: 1;
    transition: all .2s;

    &:hover {
      opacity: .6;
    }
  }
}

.menu {

  padding: 0 15px;

  // .menu__list

  &__list {
    display: flex;
    align-items: center;
  }

  // .menu__list-item

  &__list-item {
  }

  &__list-item + &__list-item {
    margin-left: 20px;
  }

  // .menu__list-link

  &__list-link {
  }
}

.menu-btn {
  display: none;
  cursor: pointer;

  & div {
    width: 34px;
    height: 2px;
    background-color: #fff;
    transition: all .5s;
  }
  div + div{
    margin-top: 5px;
  }
}

  .menu-btn.active {
    div:nth-child(2) {
      opacity: 0;
    }
    div:nth-child(1) {
      transform: translateY(5px) rotate(135deg);
    }
    div:nth-child(3) {
      transform: translateY(-9px) rotate(-135deg);
    }
}  
